*{
    font-size: 25px;
    text-align: justify;
}
h1,h2{
    text-align:center;
    font-size:45px;
  }
  .img-d{
    color:white;
    background-color:black;
    padding:auto;
    text-align:center;
  }
  img{
    display:block;
    max-width:100%;
    margin:auto;
    padding-top:15px;
  }
  .text{
    margin:0 auto;
    max-width: 80%;
  }
  .h1, #img-caption{
    text-align: center;
  }
@media (max-width:600px) {
  *{
    font-size: 15px;
  }
  h1,h2{
    text-align:center;
    font-size:45px;
  }
}